@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);
.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); }

.darken-grey-text {
  color: #2E2E2E; }

.danger-text {
  color: #ff3547; }

.default-text {
  color: #2BBBAD; }

.info-text {
  color: #33b5e5; }

.form-white .md-form label {
  color: #fff; }

.form-white input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff; }

.form-white input[type=text]:focus:not([readonly]) + label {
  color: #fff; }

.form-white input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0 1px 0 0 #fff;
  box-shadow: 0 1px 0 0 #fff; }

.form-white input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-white input[type=password], .form-white input[type=text] {
  border-bottom: 1px solid #fff; }

.form-white .form-control:focus {
  color: #fff; }

.form-white .form-control {
  color: #fff; }

.form-white textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
  color: #fff; }

.form-white textarea.md-textarea {
  border-bottom: 1px solid #fff;
  color: #fff; }

.form-white textarea.md-textarea:focus:not([readonly]) + label {
  color: #fff; }

.ripe-malinka-gradient {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }

.near-moon-gradient {
  background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%); }

#body-home {
  background: url("/assets/img/paysage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow-x: hidden; }

/************** NAVBAR **************/
.cont-header {
  background-color: #6aaa54;
  text-align: center;
  max-height: 70px; }
  .cont-header-img {
    margin: 10px;
    z-index: 30;
    position: relative; }

.cont {
  color: white; }
  .cont-header {
    color: white; }
    .cont-header-menu {
      background-color: #009847; }
      .cont-header-menu-text {
        color: white; }

.text-edit {
  font-family: 'Quicksand', sans-serif;
  margin-left: 20px;
  font-size: 20px;
  text-align: center; }
  .text-edit-star {
    font-family: 'Quicksand', sans-serif;
    margin-left: 20px;
    font-size: 20px; }
  .text-edit-color {
    cursor: pointer;
    background-color: none; }
    .text-edit-color-2 {
      background-color: none; }
    .text-edit-color-3 {
      background-color: none; }
  .text-edit:hover {
    background-color: #efeeee; }
  .text-edit-title {
    font-size: 30px;
    font-family: "Open Sans Condensed", serif;
    text-align: center; }

.navbar {
  background-color: #6aaa54; }
  .navbar-link {
    color: white;
    padding: 5px;
    background-color: #6aaa54;
    margin-left: 10px; }
    .navbar-link:hover {
      text-decoration: none;
      color: #4e4e4e;
      background-color: #cfffd2; }

/************** TITLE ***************/
.title-op {
  font-family: "Cinzel", serif;
  text-align: center;
  color: white;
  font-size: 6vw;
  margin-top: 20px; }

.subtitle-op {
  font-family: "Open Sans Condensed", serif;
  text-align: center;
  color: white;
  font-size: 3vw; }

.subtitle-ap {
  font-family: "Open Sans Condensed", serif;
  text-align: center;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  background-color: #6aaa54;
  padding: 10px;
  margin-top: 0; }

.tusersarien {
  opacity: 0; }

/************** BODY **************/
.image-destination {
  position: relative;
  margin-top: 10px; }

.carde-img {
  margin-bottom: 0px; }
.carde-text {
  background: linear-gradient(to top, black, transparent), linear-gradient(to bottom, transparent, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  height: 250px; }
.carde-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", serif;
  font-size: 2em;
  color: white;
  margin-top: 150px;
  cursor: pointer; }

.framprix-jesaisplus {
  float: right;
  text-align: center;
  margin: 10px; }

#prev-icon {
  background-color: #6aaa54; }

#carouseltamere {
  margin: auto;
  width: 400px; }

/*************** CAROUSEL ******************/
/************** DESTINATIONS **************/
.subtitle-desti {
  font-family: "Open Sans Condensed", serif;
  font-size: 26px;
  color: white;
  text-align: center;
  background-color: #6aaa54; }
  .subtitle-desti-color-white {
    color: #4e4e4e;
    font-family: "Open Sans Condensed", serif;
    font-size: 26px;
    text-align: center;
    font-size: 50px; }

#body-view-Paris {
  background: url("/assets/img/Paris.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }
#body-view-Ajaccio {
  background: url("/assets/img/Ajaccio.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }
#body-view-Newyork {
  background: url("/assets/img/Newyork.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }
#body-view-Tokyo {
  background: url("/assets/img/Tokyo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }
#body-view-Sydney {
  background: url("/assets/img/Sydney.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }

/************** FOOTER **************/
.footer-op {
  /*  position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  box-sizing: border-box;
  background-color: #6aaa54; }

#copyR {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: white; }

/**********VIEW REVIEW **************/
.view {
  color: white; }
  .view-review {
    color: white; }
    .view-review-user {
      height: 30vh;
      font-size: 20px; }

.review-op {
  text-align: center; }

#icon-op {
  font-size: 1.3em; }

.comment-op {
  font-family: 'Quicksand', sans-serif; }

/**********ADMIN **************/
.admin-card {
  margin-top: 50px; }
  .admin-card-inter {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: #F3F3F3; }
    .admin-card-inter-p {
      margin: 15px;
      color: color;
      text-align: center;
      font-size: 20px;
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase; }
    .admin-card-inter-input {
      color: black; }
    .admin-card-inter-destination {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin-top: 30px;
      background-color: #F3F3F3; }

.pp {
  margin: 15px;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
